.collapse {
  z-index: 5;
  background-color: #f9fafc;
}
.nav {
  height: 10vh;
  background-color: #f9fafc;
}
.title {
  color: #1aacf0 !important;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 72px;
  text-transform: uppercase;
}
