.wrapper {
  margin: 20px;
  margin-bottom: 10%;
  margin-top: 5%;
}
.btn-primary:hover {
  color: #fff;
  background-color: #00a8f7;
  border-color: #009fea;
}
.btn-primary {
  color: #fff;
  background-color: #1eb7ff;
  border-color: #1eb7ff;
  width: 50vw !important;
}
